body {
    display: flex;
    justify-content: center;
    background-color: darkgrey;
}

.slider-wrap {
    width: 1200px;
    height: 800px;
    background-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.slider {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
}
input  {
    display: none;
}
.images {
    width: 4050px;
    transition: 0.5s;
}
img {
    height: 500px;
    width: 1000px;
    border-radius: 10px;
}
.slider-controls {
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
    z-index: 2;
}
.slider-controls label {
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.captions {
    display: flex;
    position: relative;
    margin-top: -30px;
    transition: 0.5s;
    width: 4050px;
    overflow: hidden;
    z-index: 1;
}
.caption {
    width: 1000px;
    overflow: hidden;
    transition: 0.5s;
}

#mem1:checked ~ .images {
    transform: translate(0);
}
#mem2:checked ~ .images {
    transform: translate(-1000px);
}
#mem3:checked ~ .images {
    transform: translate(-2000px);
}
#mem4:checked ~ .images {
    transform: translate(-3000px);
}

#mem1:checked ~ .captions #caption1 {
    transform: translate(0);
}
#mem2:checked ~ .captions #caption2 {
    transform: translate(-1000px);
}
#mem3:checked ~ .captions #caption3 {
    transform: translate(-2000px);
}
#mem4:checked ~ .captions #caption4 {
    transform: translate(-3000px);
}
